<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>EV Dataset</title>
</head>
<body>
    <h1>Electric Vehicle Dataset</h1>
    <hr>
    <p>Ограничил таблицы на 20 элементов<p> 
    {% block content %}{% endblock %}
</body>
</html>
