{% macro render_table(title, headers, rows) %}
<h2>{{ title }}</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
        {% for h in headers %}
            <th>{{ h }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}
